# Ignore Python virtual environment
venv/


# Ignore environment variable definitions
.env


# Ignore Kubernetes secret files (keep private)
kubernetes/mysql-secret.yaml
agent.jar

# Ignore Python _pycache__
_pycache__
